h1{
    text-align: center;
}
input{
    /* text-align: center; */
    margin: auto;
    display: flex;
    padding: 10px;
    margin-bottom: 50px;
     
}
li button{
    text-align: center;
    padding: 10px;
    margin-left: 300px;
    display: flex;
}
li{
    margin-left: 30%;
    padding: 1%;
}
ul{
    padding: 1%;

}
button{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
}